<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="NetworkPath" value="\\cfco06nds01\isd01\SysDev\CANTS\PDR RUN SQL"/>
    <add key="UserName" value="DCFS\CAA6377"/>
    <add key="EmailSmtpHost" value="SMTPR.illinois.gov"/>
    <add key="EmailSendTo" value="Cuneyt.Barutcu@illinois.gov" />
    <add key="DebugEmailSendTo" value="Alexis.Atchison@illinois.gov" />
    <add key="EmailSendFrom" value="Alexis.Atchison@illinois.gov"/>
    <add key="EmailSendFromDisplay" value="Atchison, Alexis"/>
  </appSettings>
</configuration>